accessKeyID=<<ACCESSKEYID>>
secretAccessKey=<<SECRETACCESSKEY>>
region=eu-west-1
bucket=<<BUCKET>>
expiresSecs=300
maxuploadBytes=1073741824

#File to upload
localPath=myImage.jpg
contentType=image/jpeg
# The key will be the entry in the S3 bucket
key=usuario/miFichero.jpeg 